@charset "UTF-8";
/* normalize.css 2011-08-12T17:28 UTC · http://github.com/necolas/normalize.css */
/******************************************************************************
 * HTML5 display definitions
 ***************************************************************************** */
/* line 7, ../../../app/assets/stylesheets/normalize.css.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 11, ../../../app/assets/stylesheets/normalize.css.sass */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 17, ../../../app/assets/stylesheets/normalize.css.sass */
audio:not([controls]) {
  display: none;
}

/* line 21, ../../../app/assets/stylesheets/normalize.css.sass */
[hidden] {
  display: none;
}

/******************************************************************************
 * Base
 ***************************************************************************** */
/* line 30, ../../../app/assets/stylesheets/normalize.css.sass */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 40, ../../../app/assets/stylesheets/normalize.css.sass */
body {
  margin: 0;
}

/* line 44, ../../../app/assets/stylesheets/normalize.css.sass */
body, button, input, select, textarea {
  font-family: sans-serif;
}

/******************************************************************************
 * Links
 ***************************************************************************** */
/* line 53, ../../../app/assets/stylesheets/normalize.css.sass */
a {
  color: #0000ee;
}
/* line 55, ../../../app/assets/stylesheets/normalize.css.sass */
a:visited {
  color: #551a8b;
}
/* line 57, ../../../app/assets/stylesheets/normalize.css.sass */
a:focus {
  outline: thin dotted;
}
/* line 60, ../../../app/assets/stylesheets/normalize.css.sass */
a:hover, a:active {
  outline: 0;
}

/******************************************************************************
 * Typography
 ***************************************************************************** */
/* line 69, ../../../app/assets/stylesheets/normalize.css.sass */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 73, ../../../app/assets/stylesheets/normalize.css.sass */
b, strong {
  font-weight: bold;
}

/* line 77, ../../../app/assets/stylesheets/normalize.css.sass */
dfn {
  font-style: italic;
}

/* line 81, ../../../app/assets/stylesheets/normalize.css.sass */
mark {
  background: yellow;
  color: black;
}

/* line 86, ../../../app/assets/stylesheets/normalize.css.sass */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

/* line 93, ../../../app/assets/stylesheets/normalize.css.sass */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 99, ../../../app/assets/stylesheets/normalize.css.sass */
q {
  quotes: none;
}
/* line 104, ../../../app/assets/stylesheets/normalize.css.sass */
q:before, q:after {
  content: "";
  content: none;
}

/* line 108, ../../../app/assets/stylesheets/normalize.css.sass */
small {
  font-size: 75%;
}

/* line 111, ../../../app/assets/stylesheets/normalize.css.sass */
blockquote {
  margin: 1em 40px;
}

/* line 116, ../../../app/assets/stylesheets/normalize.css.sass */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 121, ../../../app/assets/stylesheets/normalize.css.sass */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

/* line 127, ../../../app/assets/stylesheets/normalize.css.sass */
sub {
  bottom: -0.25em;
}

/******************************************************************************
 * Lists
 ***************************************************************************** */
/* line 134, ../../../app/assets/stylesheets/normalize.css.sass */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 138, ../../../app/assets/stylesheets/normalize.css.sass */
dd {
  margin: 0 0 0 40px;
}

/* line 142, ../../../app/assets/stylesheets/normalize.css.sass */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
}

/******************************************************************************
 * Embedded content
 ***************************************************************************** */
/* */
/* line 152, ../../../app/assets/stylesheets/normalize.css.sass */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 159, ../../../app/assets/stylesheets/normalize.css.sass */
svg:not(:root) {
  overflow: hidden;
}

/******************************************************************************
 * Figures
 ***************************************************************************** */
/* line 167, ../../../app/assets/stylesheets/normalize.css.sass */
figure {
  margin: 0;
}

/******************************************************************************
 * Forms
 ***************************************************************************** */
/* line 175, ../../../app/assets/stylesheets/normalize.css.sass */
form {
  margin: 0;
}

/* line 179, ../../../app/assets/stylesheets/normalize.css.sass */
fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 184, ../../../app/assets/stylesheets/normalize.css.sass */
legend {
  border: 0;
  *margin-left: -7px;
}

/* line 190, ../../../app/assets/stylesheets/normalize.css.sass */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 199, ../../../app/assets/stylesheets/normalize.css.sass */
button, input {
  line-height: normal;
  *overflow: visible;
}

/* line 206, ../../../app/assets/stylesheets/normalize.css.sass */
table button, table input {
  *overflow: auto;
}

/* line 211, ../../../app/assets/stylesheets/normalize.css.sass */
button, html input[type="button"], html input[type="reset"], html input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/* line 219, ../../../app/assets/stylesheets/normalize.css.sass */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
/* line 224, ../../../app/assets/stylesheets/normalize.css.sass */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 232, ../../../app/assets/stylesheets/normalize.css.sass */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 236, ../../../app/assets/stylesheets/normalize.css.sass */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 242, ../../../app/assets/stylesheets/normalize.css.sass */
textarea {
  overflow: auto;
  vertical-align: top;
}

/******************************************************************************
 * Tables
 ***************************************************************************** */
/* line 252, ../../../app/assets/stylesheets/normalize.css.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
