/*
Syntax error: Invalid CSS after "@import ": expected uri, was "{@include conta..."
        on line 14 of /home/greg/work/LikeHive/app/assets/stylesheets/screen.scss

9: 
10: // Combine the partials into a single screen stylesheet.
11: @import "partials/page";
12: @import "partials/form";
13: @import "partials/two_col";
14: @import {@include container;}
15: da{

Backtrace:
/home/greg/work/LikeHive/app/assets/stylesheets/screen.scss:14
/home/greg/.rvm/gems/ruby-1.9.2-p290@rails31/gems/sass-3.1.10/lib/sass/scss/parser.rb:926:in `expected'
/home/greg/.rvm/gems/ruby-1.9.2-p290@rails31/gems/sass-3.1.10/lib/sass/scss/parser.rb:872:in `expected'
/home/greg/.rvm/gems/ruby-1.9.2-p290@rails31/gems/sass-3.1.10/lib/sass/scss/parser.rb:867:in `tok!'
/home/greg/.rvm/gems/ruby-1.9.2-p290@rails31/gems/sass-3.1.10/lib/sass/scss/parser.rb:274:in `import_arg'
/home/greg/.rvm/gems/ruby-1.9.2-p290@rails31/gems/sass-3.1.10/lib/sass/scss/parser.rb:853:in `expr!'
/home/greg/.rvm/gems/ruby-1.9.2-p290@rails31/gems/sass-3.1.10/lib/sass/scss/parser.rb:266:in `block in import_directive'
/home/greg/.rvm/gems/ruby-1.9.2-p290@rails31/gems/sass-3.1.10/lib/sass/scss/parser.rb:265:in `loop'
/home/greg/.rvm/gems/ruby-1.9.2-p290@rails31/gems/sass-3.1.10/lib/sass/scss/parser.rb:265:in `import_directive'
/home/greg/.rvm/gems/ruby-1.9.2-p290@rails31/gems/sass-3.1.10/lib/sass/scss/parser.rb:146:in `special_directive'
/home/greg/.rvm/gems/ruby-1.9.2-p290@rails31/gems/sass-3.1.10/lib/sass/scss/parser.rb:125:in `directive'
/home/greg/.rvm/gems/ruby-1.9.2-p290@rails31/gems/sass-3.1.10/lib/sass/scss/parser.rb:395:in `block_child'
/home/greg/.rvm/gems/ruby-1.9.2-p290@rails31/gems/sass-3.1.10/lib/sass/scss/parser.rb:388:in `block_contents'
/home/greg/.rvm/gems/ruby-1.9.2-p290@rails31/gems/sass-3.1.10/lib/sass/scss/parser.rb:59:in `stylesheet'
/home/greg/.rvm/gems/ruby-1.9.2-p290@rails31/gems/sass-3.1.10/lib/sass/scss/parser.rb:28:in `parse'
/home/greg/.rvm/gems/ruby-1.9.2-p290@rails31/gems/sass-3.1.10/lib/sass/engine.rb:327:in `_to_tree'
/home/greg/.rvm/gems/ruby-1.9.2-p290@rails31/gems/sass-3.1.10/lib/sass/engine.rb:300:in `_render'
/home/greg/.rvm/gems/ruby-1.9.2-p290@rails31/gems/sass-3.1.10/lib/sass/engine.rb:248:in `block in render'
/home/greg/.rvm/gems/ruby-1.9.2-p290@rails31/gems/sass-3.1.10/lib/sass/util.rb:297:in `silence_sass_warnings'
/home/greg/.rvm/gems/ruby-1.9.2-p290@rails31/gems/sass-3.1.10/lib/sass/engine.rb:248:in `render'
/home/greg/.rvm/gems/ruby-1.9.2-p290@rails31/gems/sass-3.1.10/lib/sass/plugin/compiler.rb:319:in `update_stylesheet'
/home/greg/.rvm/gems/ruby-1.9.2-p290@rails31/gems/sass-3.1.10/lib/sass/plugin/compiler.rb:181:in `block (2 levels) in update_stylesheets'
/home/greg/.rvm/gems/ruby-1.9.2-p290@rails31/gems/sass-3.1.10/lib/sass/plugin/compiler.rb:175:in `each'
/home/greg/.rvm/gems/ruby-1.9.2-p290@rails31/gems/sass-3.1.10/lib/sass/plugin/compiler.rb:175:in `block in update_stylesheets'
/home/greg/.rvm/gems/ruby-1.9.2-p290@rails31/gems/sass-3.1.10/lib/sass/plugin/compiler.rb:173:in `each'
/home/greg/.rvm/gems/ruby-1.9.2-p290@rails31/gems/sass-3.1.10/lib/sass/plugin/compiler.rb:173:in `update_stylesheets'
/home/greg/.rvm/gems/ruby-1.9.2-p290@rails31/gems/sass-3.1.10/lib/sass/plugin.rb:81:in `update_stylesheets'
/home/greg/.rvm/gems/ruby-1.9.2-p290@rails31/gems/sass-3.1.10/lib/sass/plugin.rb:54:in `check_for_updates'
/home/greg/.rvm/gems/ruby-1.9.2-p290@rails31/gems/sass-3.1.10/lib/sass/plugin/rack.rb:51:in `call'
/home/greg/.rvm/gems/ruby-1.9.2-p290@rails31/gems/barista-1.2.1/lib/barista/server.rb:33:in `call'
/home/greg/.rvm/gems/ruby-1.9.2-p290@rails31/gems/barista-1.2.1/lib/barista/filter.rb:16:in `_call'
/home/greg/.rvm/gems/ruby-1.9.2-p290@rails31/gems/barista-1.2.1/lib/barista/filter.rb:9:in `call'
/home/greg/.rvm/gems/ruby-1.9.2-p290@rails31/gems/mongoid-2.3.0/lib/rack/mongoid/middleware/identity_map.rb:33:in `block in call'
/home/greg/.rvm/gems/ruby-1.9.2-p290@rails31/gems/mongoid-2.3.0/lib/mongoid.rb:130:in `unit_of_work'
/home/greg/.rvm/gems/ruby-1.9.2-p290@rails31/gems/mongoid-2.3.0/lib/rack/mongoid/middleware/identity_map.rb:33:in `call'
/home/greg/.rvm/gems/ruby-1.9.2-p290@rails31/gems/actionpack-3.1.1/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/home/greg/.rvm/gems/ruby-1.9.2-p290@rails31/gems/rack-1.3.4/lib/rack/etag.rb:23:in `call'
/home/greg/.rvm/gems/ruby-1.9.2-p290@rails31/gems/rack-1.3.4/lib/rack/conditionalget.rb:25:in `call'
/home/greg/.rvm/gems/ruby-1.9.2-p290@rails31/gems/actionpack-3.1.1/lib/action_dispatch/middleware/head.rb:14:in `call'
/home/greg/.rvm/gems/ruby-1.9.2-p290@rails31/gems/actionpack-3.1.1/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/home/greg/.rvm/gems/ruby-1.9.2-p290@rails31/gems/actionpack-3.1.1/lib/action_dispatch/middleware/flash.rb:243:in `call'
/home/greg/.rvm/gems/ruby-1.9.2-p290@rails31/gems/rack-1.3.4/lib/rack/session/abstract/id.rb:195:in `context'
/home/greg/.rvm/gems/ruby-1.9.2-p290@rails31/gems/rack-1.3.4/lib/rack/session/abstract/id.rb:190:in `call'
/home/greg/.rvm/gems/ruby-1.9.2-p290@rails31/gems/actionpack-3.1.1/lib/action_dispatch/middleware/cookies.rb:331:in `call'
/home/greg/.rvm/gems/ruby-1.9.2-p290@rails31/gems/actionpack-3.1.1/lib/action_dispatch/middleware/callbacks.rb:29:in `block in call'
/home/greg/.rvm/gems/ruby-1.9.2-p290@rails31/gems/activesupport-3.1.1/lib/active_support/callbacks.rb:392:in `_run_call_callbacks'
/home/greg/.rvm/gems/ruby-1.9.2-p290@rails31/gems/activesupport-3.1.1/lib/active_support/callbacks.rb:81:in `run_callbacks'
/home/greg/.rvm/gems/ruby-1.9.2-p290@rails31/gems/actionpack-3.1.1/lib/action_dispatch/middleware/callbacks.rb:28:in `call'
/home/greg/.rvm/gems/ruby-1.9.2-p290@rails31/gems/actionpack-3.1.1/lib/action_dispatch/middleware/reloader.rb:68:in `call'
/home/greg/.rvm/gems/ruby-1.9.2-p290@rails31/gems/rack-1.3.4/lib/rack/sendfile.rb:101:in `call'
/home/greg/.rvm/gems/ruby-1.9.2-p290@rails31/gems/actionpack-3.1.1/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/home/greg/.rvm/gems/ruby-1.9.2-p290@rails31/gems/actionpack-3.1.1/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/home/greg/.rvm/gems/ruby-1.9.2-p290@rails31/gems/railties-3.1.1/lib/rails/rack/logger.rb:13:in `call'
/home/greg/.rvm/gems/ruby-1.9.2-p290@rails31/gems/rack-1.3.4/lib/rack/methodoverride.rb:24:in `call'
/home/greg/.rvm/gems/ruby-1.9.2-p290@rails31/gems/rack-1.3.4/lib/rack/runtime.rb:17:in `call'
/home/greg/.rvm/gems/ruby-1.9.2-p290@rails31/gems/activesupport-3.1.1/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/home/greg/.rvm/gems/ruby-1.9.2-p290@rails31/gems/rack-1.3.4/lib/rack/lock.rb:15:in `call'
/home/greg/.rvm/gems/ruby-1.9.2-p290@rails31/gems/actionpack-3.1.1/lib/action_dispatch/middleware/static.rb:53:in `call'
/home/greg/.rvm/gems/ruby-1.9.2-p290@rails31/gems/railties-3.1.1/lib/rails/engine.rb:456:in `call'
/home/greg/.rvm/gems/ruby-1.9.2-p290@rails31/gems/railties-3.1.1/lib/rails/railtie/configurable.rb:30:in `method_missing'
/home/greg/.passenger/standalone/3.0.8-x86_64-ruby1.9.2-linux-gcc4.5.2-1002/support/lib/phusion_passenger/rack/request_handler.rb:96:in `process_request'
/home/greg/.passenger/standalone/3.0.8-x86_64-ruby1.9.2-linux-gcc4.5.2-1002/support/lib/phusion_passenger/abstract_request_handler.rb:513:in `accept_and_process_next_request'
/home/greg/.passenger/standalone/3.0.8-x86_64-ruby1.9.2-linux-gcc4.5.2-1002/support/lib/phusion_passenger/abstract_request_handler.rb:274:in `main_loop'
/home/greg/.passenger/standalone/3.0.8-x86_64-ruby1.9.2-linux-gcc4.5.2-1002/support/lib/phusion_passenger/rack/application_spawner.rb:205:in `start_request_handler'
/home/greg/.passenger/standalone/3.0.8-x86_64-ruby1.9.2-linux-gcc4.5.2-1002/support/lib/phusion_passenger/rack/application_spawner.rb:170:in `block in handle_spawn_application'
/home/greg/.passenger/standalone/3.0.8-x86_64-ruby1.9.2-linux-gcc4.5.2-1002/support/lib/phusion_passenger/utils.rb:479:in `safe_fork'
/home/greg/.passenger/standalone/3.0.8-x86_64-ruby1.9.2-linux-gcc4.5.2-1002/support/lib/phusion_passenger/rack/application_spawner.rb:165:in `handle_spawn_application'
/home/greg/.passenger/standalone/3.0.8-x86_64-ruby1.9.2-linux-gcc4.5.2-1002/support/lib/phusion_passenger/abstract_server.rb:357:in `server_main_loop'
/home/greg/.passenger/standalone/3.0.8-x86_64-ruby1.9.2-linux-gcc4.5.2-1002/support/lib/phusion_passenger/abstract_server.rb:206:in `start_synchronously'
/home/greg/.passenger/standalone/3.0.8-x86_64-ruby1.9.2-linux-gcc4.5.2-1002/support/lib/phusion_passenger/abstract_server.rb:180:in `start'
/home/greg/.passenger/standalone/3.0.8-x86_64-ruby1.9.2-linux-gcc4.5.2-1002/support/lib/phusion_passenger/rack/application_spawner.rb:128:in `start'
/home/greg/.passenger/standalone/3.0.8-x86_64-ruby1.9.2-linux-gcc4.5.2-1002/support/lib/phusion_passenger/spawn_manager.rb:253:in `block (2 levels) in spawn_rack_application'
/home/greg/.passenger/standalone/3.0.8-x86_64-ruby1.9.2-linux-gcc4.5.2-1002/support/lib/phusion_passenger/abstract_server_collection.rb:132:in `lookup_or_add'
/home/greg/.passenger/standalone/3.0.8-x86_64-ruby1.9.2-linux-gcc4.5.2-1002/support/lib/phusion_passenger/spawn_manager.rb:246:in `block in spawn_rack_application'
/home/greg/.passenger/standalone/3.0.8-x86_64-ruby1.9.2-linux-gcc4.5.2-1002/support/lib/phusion_passenger/abstract_server_collection.rb:82:in `block in synchronize'
<internal:prelude>:10:in `synchronize'
/home/greg/.passenger/standalone/3.0.8-x86_64-ruby1.9.2-linux-gcc4.5.2-1002/support/lib/phusion_passenger/abstract_server_collection.rb:79:in `synchronize'
/home/greg/.passenger/standalone/3.0.8-x86_64-ruby1.9.2-linux-gcc4.5.2-1002/support/lib/phusion_passenger/spawn_manager.rb:244:in `spawn_rack_application'
/home/greg/.passenger/standalone/3.0.8-x86_64-ruby1.9.2-linux-gcc4.5.2-1002/support/lib/phusion_passenger/spawn_manager.rb:137:in `spawn_application'
/home/greg/.passenger/standalone/3.0.8-x86_64-ruby1.9.2-linux-gcc4.5.2-1002/support/lib/phusion_passenger/spawn_manager.rb:275:in `handle_spawn_application'
/home/greg/.passenger/standalone/3.0.8-x86_64-ruby1.9.2-linux-gcc4.5.2-1002/support/lib/phusion_passenger/abstract_server.rb:357:in `server_main_loop'
/home/greg/.passenger/standalone/3.0.8-x86_64-ruby1.9.2-linux-gcc4.5.2-1002/support/lib/phusion_passenger/abstract_server.rb:206:in `start_synchronously'
/home/greg/.passenger/standalone/3.0.8-x86_64-ruby1.9.2-linux-gcc4.5.2-1002/support/helper-scripts/passenger-spawn-server:99:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"@import \": expected uri, was \"{@include conta...\"\A         on line 14 of /home/greg/work/LikeHive/app/assets/stylesheets/screen.scss\A \A 9: \A 10: // Combine the partials into a single screen stylesheet.\A 11: @import \"partials/page\";\A 12: @import \"partials/form\";\A 13: @import \"partials/two_col\";\A 14: @import {@include container;}\A 15: da{"; }
