%p
  #{StringFormatter.capitalize_words(@like.name)}
  
%p Users (#{@like.following.users.size}):
%script
- if @like.following.users.size == 0#find way of updating num_users
  %p No Users
- else
  - @like.following.users.each do |user|
    %p #{user.email}