%p
  #{StringFormatter.capitalize_words(@like.name)}
  
%p Users (#{@like.get_followers.num_users}):
%script
- if @like.get_followers.num_users == 0#find way of updating num_users
  %p No Users
- else
  - @like.get_followers.users.each do |user|
    %p #{user.email}