/* line 11, ../../../../app/assets/stylesheets/users/users.css.sass */
.users .show profile {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 630px;
  padding-right: 0px;
  margin-right: 5px;
  border-right: 5px solid #777777;
}
/* line 147, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rails31/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .users .show profile {
  overflow-x: hidden;
}
/* line 15, ../../../../app/assets/stylesheets/users/users.css.sass */
.users .show user_recommendations {
  display: inline;
  float: left;
  margin-right: 0;
  width: 310px;
}
/* line 147, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rails31/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .users .show user_recommendations {
  overflow-x: hidden;
}
/* line 19, ../../../../app/assets/stylesheets/users/users.css.sass */
.users .show like_recommendations {
  display: inline;
  float: left;
  margin-right: 0;
  width: 310px;
}
/* line 147, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rails31/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .users .show like_recommendations {
  overflow-x: hidden;
}
/* line 23, ../../../../app/assets/stylesheets/users/users.css.sass */
.users .show add_single_like {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 630px;
}
/* line 147, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rails31/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .users .show add_single_like {
  overflow-x: hidden;
}
/* line 26, ../../../../app/assets/stylesheets/users/users.css.sass */
.users .show add_multiple_likes {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 630px;
}
/* line 147, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rails31/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .users .show add_multiple_likes {
  overflow-x: hidden;
}
/* line 29, ../../../../app/assets/stylesheets/users/users.css.sass */
.users .show user_personality {
  display: inline;
  float: left;
  margin-right: 0;
  width: 310px;
  padding-right: 0px;
  margin-right: 5px;
  border-right: 5px solid #777777;
}
/* line 147, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rails31/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .users .show user_personality {
  overflow-x: hidden;
}
/* line 18, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rails31/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.users .edit label {
  font-weight: bold;
}
/* line 19, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rails31/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.users .edit fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rails31/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.users .edit legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 26, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rails31/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.users .edit input.text, .users .edit input.title, .users .edit input[type=email], .users .edit input[type=text], .users .edit input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 27, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rails31/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.users .edit input.title {
  font-size: 1.5em;
}
/* line 29, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rails31/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.users .edit textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 30, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rails31/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.users .edit select {
  margin: 0.5em 0;
}
/* line 55, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rails31/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.users .edit fieldset {
  border: 1px solid #cccccc;
}
/* line 58, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rails31/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.users .edit input.text, .users .edit input.title, .users .edit input[type=email], .users .edit input[type=text], .users .edit input[type=password], .users .edit textarea {
  background-color: #fff;
  border: 1px solid #bbbbbb;
}
/* line 61, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rails31/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.users .edit input.text:focus, .users .edit input.title:focus, .users .edit input[type=email]:focus, .users .edit input[type=text]:focus, .users .edit input[type=password]:focus, .users .edit textarea:focus {
  border-color: #666666;
}
/* line 65, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rails31/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.users .edit select {
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
}
/* line 44, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rails31/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.users .edit input.text, .users .edit input.title, .users .edit input[type=email], .users .edit input[type=text], .users .edit input[type=password] {
  width: 300px;
}
/* line 46, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rails31/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.users .edit textarea {
  width: 390px;
  height: 250px;
}
