/* line 11, ../../../../app/assets/stylesheets/users/users.css.sass */
.users .show user_recommendations {
  display: inline;
  float: left;
  margin-right: 0;
  width: 310px;
  border: solid 1px #777777;
  border-color: red;
}
/* line 147, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rails31/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .users .show user_recommendations {
  overflow-x: hidden;
}
/* line 16, ../../../../app/assets/stylesheets/users/users.css.sass */
.users .show like_recommendations {
  display: inline;
  float: left;
  margin-right: 0;
  width: 310px;
  border: solid 1px #777777;
}
/* line 147, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rails31/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .users .show like_recommendations {
  overflow-x: hidden;
}
/* line 20, ../../../../app/assets/stylesheets/users/users.css.sass */
.users .show profile {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
  border: solid 1px #777777;
}
/* line 147, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rails31/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .users .show profile {
  overflow-x: hidden;
}
/* line 24, ../../../../app/assets/stylesheets/users/users.css.sass */
.users .show add_single_like {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 630px;
}
/* line 147, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rails31/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .users .show add_single_like {
  overflow-x: hidden;
}
/* line 27, ../../../../app/assets/stylesheets/users/users.css.sass */
.users .show add_multiple_likes {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 630px;
}
/* line 147, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rails31/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .users .show add_multiple_likes {
  overflow-x: hidden;
}
/* line 30, ../../../../app/assets/stylesheets/users/users.css.sass */
.users .show user_personality {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 630px;
}
/* line 147, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rails31/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .users .show user_personality {
  overflow-x: hidden;
}
