/* line 11, ../../../../app/assets/stylesheets/users/users.css.sass */
.users .show profile {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 630px;
}
/* line 147, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rails31/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .users .show profile {
  overflow-x: hidden;
}
/* line 14, ../../../../app/assets/stylesheets/users/users.css.sass */
.users .show user_recommendations {
  display: inline;
  float: left;
  margin-right: 0;
  width: 310px;
}
/* line 147, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rails31/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .users .show user_recommendations {
  overflow-x: hidden;
}
/* line 17, ../../../../app/assets/stylesheets/users/users.css.sass */
.users .show like_recommendations {
  display: inline;
  float: left;
  margin-right: 0;
  width: 310px;
}
/* line 147, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rails31/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .users .show like_recommendations {
  overflow-x: hidden;
}
/* line 20, ../../../../app/assets/stylesheets/users/users.css.sass */
.users .show add_single_like {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 630px;
}
/* line 147, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rails31/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .users .show add_single_like {
  overflow-x: hidden;
}
/* line 23, ../../../../app/assets/stylesheets/users/users.css.sass */
.users .show add_multiple_likes {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 630px;
}
/* line 147, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rails31/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .users .show add_multiple_likes {
  overflow-x: hidden;
}
/* line 26, ../../../../app/assets/stylesheets/users/users.css.sass */
.users .show user_personality {
  display: inline;
  float: left;
  margin-right: 0;
  width: 310px;
}
/* line 147, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rails31/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .users .show user_personality {
  overflow-x: hidden;
}
/* line 29, ../../../../app/assets/stylesheets/users/users.css.sass */
.users .edit {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
/* line 147, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rails31/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .users .edit {
  overflow-x: hidden;
}
/* line 32, ../../../../app/assets/stylesheets/users/users.css.sass */
.users .edit .label {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 110px;
  font-weight: bold;
}
/* line 147, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rails31/gems/compass-0.12.alpha.0/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .users .edit .label {
  overflow-x: hidden;
}
