.simple_form
  label
    +column(4) 
    float: left
    text-align: left    

  div.input
    +append-bottom(10px)    
    
  input[type='submit']
    +push(4)
    +column(2)    
  
  div.boolean
    +column(4)    

    label
      float: none
      margin: 0    

  label.collection_radio
    margin-right: 10px
    margin-left: 2px
    float: none
    margin: 0

  .error
    +column(4)
    clear: left    
    font-size: 12px
    color: #D00
    display: block  

  .hint
    +column(4)
    clear: left    
    font-size: 12px
    color: #555
    display: block
    font-style: italic