// This import applies a global reset to any page that imports this stylesheet.
@import blueprint/reset

// To configure blueprint, edit the partials/base.sass file.
@import partials/base

// Import all the default blueprint modules so that we can access their mixins.
@import blueprint

// Import compass mixins
@import compass

// Import normalize
@import normalize.css.sass

// Import model specific sylesheets 
@import home/home.css.sass
@import users/users.css.sass
@import sessions/sessions.css.sass
@import likes/likes.css.sass

// Combine the partials into a single screen stylesheet.
@import partials/base
@import partials/page
@import partials/form
@import partials/two_col

+blueprint

body
  +container

header
  +column(24)
  background-color: #111111
  color: #FFF
  h1
    +column(16)
    font-size: 30px
    color: #FFF
  nav
    +column(8,true)

footer
  +column(24)

=flash_padding
  padding: 5px 8px
  margin: 10px 0

#flash_notice
  +flash_padding
  background-color: #CFC
  border: solid 1px #6C6

#flash_alert
  +flash_padding
  background-color: #ACC
  border: solid 1px #C66


