// This import applies a global reset to any page that imports this stylesheet.
@import blueprint/reset

// To configure blueprint, edit the partials/base.sass file.
@import partials/base

// Import all the default blueprint modules so that we can access their mixins.
@import blueprint

// Import compass mixins
@import compass

// Import normalize
@import normalize.css.sass

// Import model specific sylesheets 
@import home/home.css.sass
@import users/users.css.sass
@import sessions/sessions.css.sass
@import likes/likes.css.sass
@import user_mailbox/user_mailbox.css.sass
@import messages/messages.css.sass

// Combine the partials into a single screen stylesheet.
@import partials/base
@import partials/page
@import partials/form
@import partials/two_col
@import partials/simple_form

+blueprint()

body
  +container

header
  +column(24)
  background-color: rgba(0,61,245,0.75)
  color: #FFF
  h1
    +column(6)
    font-size: 30px
    color: #FFF
  nav
    +column(18,true)
    font-size: 10px
    text-align: right
    +blueprint-form-sizes(100px,100px,100px)
    a
      $normal_link: rgba(255,255,255,0.75)
      $visited_link: rgba(255,255,255,0.75)
      +link-colors($normal_link, nil, nil, $visited_link, nil)
      
footer
  +column(24)

=flash_padding
  +push(4)
  +column(8)
  margin: 10px 0
  font-size: 16px
  color: #111111
  
#flash_notice
  +flash_padding
  background-color: #CFC
  border: solid 1px #6C6

#flash_alert
  +flash_padding
  background-color: #ACC
  border: solid 1px #C66