// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.users
  .show
    position: relative

    people
      +column(8,true)
      border: solid 1px #777
      color: #777
      //padding: 6px
      //float: top
      //float: right
    
    interests
      +column(8,true)
      border: solid 1px #777
      color: #777
      //padding: 6px
      //float: top
      //float: right
    
    profile
      +column(16)
    
    add_single_like
      +column(16)
    
    add_multiple_likes
      +column(16)
    
    user_personality
      +column(16)
